* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:rgb(17, 7, 27);
}


.pantalla {
    user-select:none;
}

.pantalla .cronometro {
    height:100px;
    background-color:rgb(84, 8, 146);
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:2rem;
    box-shadow:0 0 8px 5px rgb(194, 7, 231);
    border:none;
}


.pantalla .cronometro span {
    width:70px;
    text-align:center;
    font-size:45px;
    font-weight:550;
    color:rgb(243, 245, 247);
}

.cronometro span.separador {
    width:10px;
    text-align:center;
}

.cronometro span.separador-mili {
    width:10px;
}


.cronometro span.separador-mili,
.cronometro span.milisegundo {
    color:rgb(219, 19, 219);
}


.pantalla .botones {
    text-align:center;    
    margin-top:30px;
}


.botones button {
    padding:6px 16px;
    outline:none;
    border:none;
    margin:0px 10px;
    color:darkblue;
    background-color:#ccc;
    font-size:20px;
    font-weight:500;
    border-radius:.9rem;
    cursor: pointer;
    box-shadow: 3px 4px 3px 0 #ac19ac;
}

.botones button.on {
    /* inactivar el boton al darle click */
    pointer-events:none;
    opacity:0.7;
}