*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(115, 29, 253, 0.801) 0%, rgba(6, 22, 247, 0.623) 80%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 350px;
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
}

.pantalla{
    grid-column: 1/5;
    background-color: rgb(255, 245, 231);
    color: black;
    padding: 1rem;
    font-size: 3rem;
    text-align: right;
    border-radius: 0.5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.boton{
    background-color: black;
    color: #fff;
    border: 0;
    padding: 1rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .8rem;
    cursor: pointer;
}

.boton:hover{
    background-color:rgb(34, 20, 233)
}

#clean{
    background-color:rgb(233, 20, 20)
}

#delete{
    background-color:rgb(233, 77, 20)
}

#cero{
    grid-column: span 2;
}

#igual{
    grid-row: span 2;
    background-color: rgb(233, 77, 20);
}

#igual:hover{
    background-color:rgb(233, 77, 20) ;
}