*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.logo {
  max-width: 12rem;
  margin-left:5px ;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: rgb(3, 129, 240);
}

.listaMenu{
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}

.listaMenu li a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-right: 12px;
}

.abrirMenu,
.cerrarMenu{
    display:none;
    
}

@media screen and (max-width: 500px) {
 .menuPrincipal{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(99, 2, 140);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.35);
 }

 .menuPrincipal.visible{
    opacity: 1;
    visibility:visible ;
 }
 .listaMenu{
    flex-direction: column;
    align-items: end;
 }

 .listaMenu li a {
    color: rgb(9, 134, 242);
 }

 .abrirMenu,
 .cerrarMenu{
    display: block;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
 }
 .cerrarMenu{
    background-color: transparent;
    color: aquamarine;
 }
}
    
